body { width: 960px; margin-left: auto; margin-right: auto; }

/* Single column layout */
#main_head{
    height: 55px;
}

#title {
    margin: 22px 0 0 5px;
}

#title a {
    font-family: Arial,Helvetica,sans-serif;
    color: #FFFFFF !important;
    font-size: 35px;
    text-decoration: none;
    font-weight: bold;
}



#sidebar-right {
    background: #ffffff; 
    margin: 0 8px;
}

/* 2 and 1 -column layout dividers */
.bkg-repeat { background-color: #FFFFFF; background-repeat: repeat-y; float: left; }
#three-col { background-image: url(../../assets/img/cs-bg_2.7.3-3.gif); }
#two-col { background-image: url(../../assets/img/cs-bg_2.7.3-2.gif); }
#one-col { background-image: url(../../assets/img/cs-bg_2.7.3-1.gif); }


/*============================================*/
/* UNITFOOTER STYLES */

div#unitfooter {
    background-color: #83001c;
    height: 35px;
    clear: both;
    border-top:3px solid #E4E4E4;
    border-bottom:5px solid #E4E4E4;
    font-family: Arial,Helvetica,sans-serif;
    color: #FFFFFF;
    font-size:85%;
}

div#unitfooter a {
    color: #FFFFFF;
    text-decoration: none;
}

div#unitfooter_left {
    font-size:90%;
    margin-top:8px;
    width:250px;
    float:left;
    padding-left: 15px;
    display:inline;
}

div#unitfooter_left a {
    color:#FFFFFF;
}

div#unitfooter_right {
    min-width: 500px;
    margin-top: 8px;
}

h1, h2, h3, h4, h5, h6 {
    font-style: normal; 
    text-transform: none;
}

th {
    font-weight: bold;
}

/* Definition terms */
dt {
	padding-left: 10px;
}

/* Form elements */
.container_12 form {
    padding-left: 10px;
    margin: 0px 0px 10px 20px;
}

.container_12 label {
    display: inline-block;
    font-weight: bold;
    width: 10em;
    border-bottom: 1px solid gray;
    margin: 0.5em 0.5em 0.5em 0;
}

.container_12 input {
    margin: 0.5em 0;
}

/* MESSAGES */
.message{
  border-color: black;
  border-width: 1px;
  border-style: solid;
  margin: 0px 0px 5px 15px;
  padding: 5px;
  width: 60%;
  text-align: left;
}


.user_error{
    border: 2px solid red;
    background: #FFDFDF;
}

.information{
    border: 2px solid green;
    background: #DFFFDF;
}
.instructions{
    border: 2px solid yellow;
    background: #FFFFDE;
}

.success{
    border: 2px solid green;
    background: #DFFFDF;
}

.emphasis {
    border: 1px solid #000;
    background-color: #FFB;
    text-align: left;
}

#logout {
    border-width: 0px;
    margin: 15px;
}
